.articleContainer > section,
.articleContainer > article {
	padding: 20px;
}

.articleContainer > hr {
	margin: 0 20px;
	border: 1px solid var(--gray300);
}

.articleList {
	display: flex;
	flex-direction: column;
}

.articleTitle {
	text-align: left;
	font-size: 36px;
}

.articleInfo {
	display: flex;
	align-items: center;
	gap: 4px;
}

.articleInfo > span {
	font-size: 16px;
	line-height: 28px;
}

@media screen and (max-width: 1400px) {
	.articleList {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media screen and (max-width: 1200px) {
	.articleList {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 992px) {
	.page {
		padding: 20px 0;
	}

	.articleInfo > span {
		font-size: 14px;
		line-height: 24px;
	}
}

@media screen and (max-width: 576px) {
	.articleList {
		grid-template-columns: repeat(1, 1fr);
	}
}
